<header class="main_header">
  <img
    src="https://static.wixstatic.com/media/616bdd_55d46d55b1b64f7b9c14380256c9f185~mv2.gif"
    alt="Physical2Digital logo"
    style="width: 263px; height: 59px; object-fit: cover"
  />
  <nav>
    <ul class="header_item_list">
      <li class="header_item">
        <a routerLink="/jobs" routerLinkActive="active">Jobs</a>
      </li>
      <li class="header_item">
        <a routerLink="/my_jobs" routerLinkActive="active">My Jobs</a>
      </li>
      <li class="header_item">
        <a href="#">Login</a>
      </li>
    </ul>
  </nav>
</header>
